# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable show-ideographic-space': 'show-ideographic-space:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'show-ideographic-space'
      'submenu': [
        { 'label': 'Toggle', 'command': 'show-ideographic-space:toggle' }
      ]
    ]
  }
]
